@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=BhuTuka+Expanded+One&family=DM+Serif+Text:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Moderustic:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Inter Tight", sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #16A085;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 1000;
    padding: 10px 20px;
}

#logo-container {
    display: flex;
    align-items: center;
}

#logo-prueba {
    width: 150px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #2C3E50; /* Cambia el color al pasar el cursor */
}

main {
    background-color: #FFFFFF;
    color: #2C3E50;
    padding-top: 80px; /* Ajustar según la altura del header */
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centrar el contenido */
    align-items: center; /* Centrar verticalmente */
}

.content-container {
    max-width: 800px; /* Limitar el ancho del contenido */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
}

.download-link a {
    display: inline-block; /* Hacer que el enlace sea un bloque */
    background-color: #16A085; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Negrita */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.download-link a:hover {
    background-color: #2C3E50; /* Color de fondo al pasar el cursor */
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}

.image-container {
    margin-top: 20px; /* Espacio superior */
}

.main-image {
    width: 100%; /* Hacer que la imagen sea responsive */
    max-width: 400px; /* Ancho máximo de la imagen */
    transition: transform 0.3s ease; /* Transición suave */
}

.main-image:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
}
