.pie-pagina {
    position: relative;
    z-index: 600;
    width: 100%;
    background: #16A085;
    padding: 5px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    margin: 0; /* para que no haya márgenes adicionales */
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 150px;
}

.pie-pagina .grupo-1 .box h2 {
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 5px;
}

.pie-pagina .grupo-1 .box .termino {
    text-decoration: none;
}

.pie-pagina .grupo-1 .box .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .box .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 5px 10px;
    text-align: center;
    color: white; 
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}