/* Establece box-sizing en todo el documento */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Barra para los grupos */
.group-info {
    background-color: #f3f4f6; 
    border-left: 4px solid #3498db; 
    padding: 10px;
    border-radius: 5px; 
    font-weight: bold; 
    margin-bottom: 10px;
    color: #333; 
}

.project-description a {
    display: inline;
    text-decoration: none;
    font-weight: bold;
}

/* Quita margen y padding de body y html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.project-item h2 {
    text-align: center;
}


/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .project-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-description {
        margin-bottom: 15px;
    }

    .project-image img {
        width: 100%;
        max-width: 250px;
        margin-bottom: 15px;
    }

    .project-item {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}

