/* Establece box-sizing en todo el documento */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Quita margen y padding de body y html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.project-item h2 {
    text-align: center;
}


/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
    .project-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .project-description {
        margin-bottom: 15px;
    }

    .project-image img {
        width: 100%;
        max-width: 250px;
        margin-bottom: 15px;
    }

    .project-item {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }
}

